@media (max-width: 62rem) {
  .contact {
    background-color: gold !important;
    color: #333 !important;
    width: 7rem;
  }
}

/* @media (max-width: 42rem) {
  .grid-4 {
    overflow: hidden;
    display: grid;
    grid-template-rows: 50vw;
    grid-template-columns: 100vh;
  }
} */
